/Birthday_cake_candles/Birthday_cake_candles/obj
/Birthday_cake_candles/Birthday_cake_candles/bin
/Diagonal_difference/Diagonal_difference/obj
/Diagonal_difference/Diagonal_difference/bin
/Mini_max_sum/Mini_max_sum/obj
/Mini_max_sum/Mini_max_sum/bin
/Plus_minus/Plus_minus/obj
/Plus_minus/Plus_minus/bin
/Simple_array_sum/Simple_array_sum/obj
/Simple_array_sum/Simple_array_sum/bin
/Solve_me_first/Solve_me_first/obj
/Solve_me_first/Solve_me_first/bin
/Staircase/Staircase/obj
/Staircase/Staircase/bin
/Time_conversion/Time_conversion/obj
/Time_conversion/Time_conversion/bin
/Very_big_sum/Very_big_sum/obj
/Very_big_sum/Very_big_sum/bin
/Compare_the_triplets/Compare_the_triplets/obj
/Compare_the_triplets/Compare_the_triplets/bin
